html{
     scroll-behavior: smooth;
}
body{
     margin: 0;
     padding:0;
     box-sizing:border-box;
     font-size:16px;
     font-family:"Poppins", sans-serif;
     overflow-x: hidden;
}
.space{
     margin-left:10px;
}
.alignC{
     text-align: center;
}
.copyright{
opacity:0.8;
}
.allsection{
     padding:0 15px;
}
ul ,li,a{
     text-decoration: none;
     list-style: none;
     color:var(--color);
}
.navigation{
     display: flex;
     justify-content: space-between;
     align-items:center;
     height:5em;
     background-color: rgb(50, 17, 80);
}
.internal-link{
     /* background-color:rgba(34, 85, 182, 0.822); */
     border-radius:px;
     padding:0px 10px;
     border-radius:10px;;
     color:#000;
     color:#fff;
     /* margin-right:1.2em; */
}
.ulsavam-noti{
     width:100%;
     height:auto;
     background:yellow;
     position: absolute;
     top:0;
     left:0;
     z-index:2;
     text-align: center;
     transition:0.5s ease-in-out;
     transform:translateY(-15em);
   
}
.ulsavam-noti h3{
     font-size:1em;
     padding:10px;
}
.online{
     /* background-color:yellow; */
     display: flex;
     justify-content: space-between;
     gap:2px;
}
.online .circle{
width:20px;
height:20px;
background-color:yellowgreen;
border-radius:50%;
margin-top:-5px;
}
.social-ul{
     display: flex;
     flex-direction: column;
     gap:5px;
     margin-left:-2em;
}
.fa-facebook ,.fa-envelope{
     font-size:1.2em;
     opacity:0.8;
     transition:0.5s;
}
.fa-facebook{
     opacity:0.8;
     color:#fff;
}
.fa-facebook:hover ,.fa-envelope:hover{
opacity:1;
scale:1.1;
}
.fa-bars{
     margin-right:2em;
     font-size:1.3em;
     cursor:pointer;
     transition:0.2s;
     opacity:0.5;
}

.section1{
     margin-top:-2em;
}
.heading{
     font-weight:700;
     text-align: center;
     font-size:4.5em;   
     letter-spacing:5px; 
     color: rgb(50, 17, 80);
}
.imageMain{
width:100%;
display: flex;
justify-content: center;
align-items: center;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.36);
margin-top:-4.8em;

}
.imageMainn img{
width:100%;
border-radius:5px;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.36);
}
.templeimg {
     filter: brightness(.9);
     width:100%;
     border-radius:5px;
}
.tag{
     text-align: center;
     opacity:0.8;
     font-weight:100;
}
.descP{
     text-align: center;
     font-weight:200;
     margin-top:2em;
     font-size:1em;
}
.subHeading{
     font-weight:600;
     font-size:1.3em;
     opacity:0.9;
}
.otherLink{
     display: flex;
     opacity:0.5;
     gap:20px;
}
.section2{
     margin-top:5vh;
}
.mainImage2{
display: flex;
justify-content: center;
align-items: center;
}
.mainImage2 img{
     width:70%;
     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.36);
}
.subHead1{
     margin-top:3em;
}
.margin{
     margin-top:5em;
}
.secSub{
     font-size:1.2em;
     font-weight:500;
     opacity:0.8;
}
.desc{
     font-weight:normal;
     font-size:0.9em;
     opacity:0.8;
     text-align: justify;
     padding:20px;
     line-height:30px;
}
.imag3{
    width:100%;
}
.imag3 img{
     width:100%;
}
.events{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
}
.cards{
     background-color:yellow;
}
.cardNormal{
     background-color:blue;
}
.location{
     width:100%;
     height:20vh;
}
iframe{
     width:100%;
     height:20vh;
     border-radius:5px;
}

.section8{
     margin-top:2em;
     background:#000;
     color:#fff;
     display: flex;
     flex-direction: column;
     gap:2em;

}
.footerDesc,.footerDescH{
     font-size:0.8em;
     opacity:0.8;
}
.extra{
     font-weight:500;
     font-size:1.2em;
}
.addres{
     margin-top:2em;
     margin-left:1.2em;
     transition:0.5s;
}
.fa-instagram{
   margin-left:10px;
}
.me{
     align-self: center;
     opacity:0.6;
}
.meP{
font-size:0.7em;
}
.headP{
     margin-top:-3em;
}
.mail{
     display:flex;
     justify-content:flex-start;
     align-items: center;
     gap:5px;
     margin-top:-1em;
}
.modelBox{
     background:rgba(74, 74, 212,0.5);
     color:#fff;
     width:50%;
     height:auto;
     position: absolute;
     top:0%;
     right:0%;
     border-radius:2px;
     box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
     display:flex;
     flex-direction: column;
     transition:0.7s ease-in-out;
     padding-bottom:10px;
     transform:translateY(-70em);
     visibility:hidden;
     opacity:0;
     backdrop-filter: blur(50px);  

}
.link{
     color:slateblue;
}
.closeBtn{
     align-self:flex-end;
     margin:1em;
     margin-right:2em;
}
.fa-xmark{
     font-size:2em;
     transition:0.5s ease;
     opacity:0.4;
}
.fa-xmark:hover{
     opacity:0.9;
}
.bolder{
     font-weight:700;
}
.modelBox-ul{
     display: flex;
     justify-content: center;
     align-items: center;
     gap:px;
     font-weight:500;
     transition:0.2s;
}
.modelBox-ul li{
     transition:0.5 ease-in-out;
     padding:5px 10px;
     opacity:0.8;;

}

.specailImg{
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     border-radius:5px;
     padding:10px;
}
.splImg{
    width:60%;
}
.splImg img{
     width:100%;
     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.36);
}
.bolderr{
     font-weight:500;
}
.section5,.section3,.section4,.section7{
margin-top:3em;
}
.illams{
     margin-top:3.5em;
}

.modelBox-ul li:hover{
     opacity:0.9;
     transform:scale(1.05);
}
.fixing{
     text-align: center;
}
.desc{
     animation:animateOnScrollCustom 5s ease-in-out both;
     animation-timeline:view();
     animation-range:entry 70% cover 40%;
     transition:0.3s;
}
.eventImgdiv img{
 border-radius:10px;
      
 }
 
/* media queries */
/* (smaller display) */
@media screen and (max-width:480px) {
     body{
          font-size:13px;
     }
     .footer
     .allsection{
          padding-left:15px;
          padding-right:15px;
     }
     .desc{
          padding:1px;
     }
     .heading{
          padding-top:10px;
          font-size:3.8em;
     }
     .desc{
          animation:animateOnScrollCustomMobile 5s ease-in-out both;
          animation-timeline:view();
          animation-range:entry 50% cover 40%;
          transition:0.3s;
     }
     .normal .eventImgdiv {
          animation:none;

     }
     .eventImgdiv {
         width:75%;
          
     }
     .eventImgdiv img {
          width:100%;
           
      }
     .edit .eventImgdiv {
         animation:none;
     }
     .splImg{
          width:70%;
      }
   .splImg img{
     width:100%;
   }
   .online .circle{
     width:10px;
     height:10px;
     }
     .ulsavam-noti h3{
          padding:5px;
     }
}
/* (small to medium display) */
@media screen and (min-width:480px) and (max-width:720px) {
     body{
    font-size:14px;
     }
     .eventImgdiv {
          width:50%;
           
      }
      .eventImgdiv img {
           width:100%;
            
       }
       .splImg{
          width:70%;
      }
      .online .circle{
          width:15px;
          height:15px;
          }
 }
 /* (medium to moderate large displays) */
@media screen and (min-width:720px) and (max-width:1023px){

     body{
          font-size:18px ;
          
     }
     .mainImage2 img{
          width:60%;
     }
     .alignC{
          text-align:left;
     }
     .desc{
          animation:animateOnScrollCustomMobile 5s ease-in-out both;
          animation-timeline:view();
          animation-range:entry 70% cover 40%;
          transition:0.3s;
     }
    
     .eventImgdiv {
          width:50%;
           
      }
      .eventImgdiv img {
           width:100%;
            
       }
       .splImg{
          width:65%;
      }
}
/* (larger screen) In this section have both text and image animations */
@media screen and (min-width:1025px) {
     body{
          font-size:17px;
          
     }
     .modelBox{
          width:25%;
     }
     .mainImage2 img{
          width:40%;
     }
     .alignC{
          text-align:left;
     }
     .heading{
      font-size:8em;
      color: rgb(50, 17, 80);
     }
     .headP{
          margin-top:-5em;
          font-size:1.5em;
     }
     .section1{
          margin-top:-5.5em;
         
     }
     .section2{
          display: flex;
          flex-direction: column;
     }
     .imageMainn {
          margin-top:1.5em;
          width:90%;
          align-self: center;
          
     }
     .imageMainn img{
          border-radius:10px;;
     }
.subHeading{
     font-size:1.5em;
     padding-left:40px;
}
.desc,.secSub,.poojaDesc,.poojaHeading,.poojaP,.link,.subSec{
     padding-left:40px;
     padding-right:40px;
     padding-top:0px;
     padding-bottom:10px;
}
.events{
     flex-direction: row;
     align-items: center;

}

.eventImgdiv {
     display: flex;
     justify-content: center;
     background:yellow;
     width:30%;
     margin:3em;
}

.eventPdiv{
     width:50%;
     padding:50px;
}
.events img{
     width:100%;
     box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.36);
     border-radius:5px;

}
.internal-link{
     margin-right:1.5em;
}
.splImg{
     width:45%;
 }
.desc{
    font-size:1em;
    line-height:50px;
}
.fixing{
     text-align: left;
     font-size:1.4em;
}
.margin{
     padding-left:40px;
}
.edit .eventImgdiv{
     order:2;
}
.normal .eventImgdiv {
     animation:animateOnScrollCustom3 5s ease;
     animation-timeline:view();
     animation-range:entry 0% cover 50%;
}
.edit .eventImgdiv ,.splImg{
     animation:animateOnScrollCustom2 5s ease;
     animation-timeline:view();
     animation-range:entry 0% cover 60%;
}

}
/* animation part (text and image) */
@keyframes animateOnScrollCustom {
     from{
          opacity:0;
          transform: translateY(200px);
     }
     to{
          opacity:1;
          transform: translateY(0);
     }
     
}
@keyframes animateOnScrollCustomMobile {
     from{
          opacity:0;
          transform: translateY(80px);
     }
     to{
          opacity:1;
          transform: translateY(0);
     }
     
}
@keyframes animateOnScrollCustom2 {
     from{
          opacity:0;
          transform: translateX(50em);
     }
     to{
          opacity:1;
          transform: translateY(0em);
     }
     
}
@keyframes animateOnScrollCustom3 {
     from{
          opacity:0;
          transform: translateX(-50em);
     }
     to{
          opacity:1;
          transform: translateY(0em);
     }
     
}

